@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styling */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px; /* Lebar scrollbar */
  height: 6px; /* Tinggi scrollbar untuk horizontal */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #c5c5c5; /* Warna thumb scrollbar */
  border-radius: 4px; /* Sudut membulat */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Warna track scrollbar */
  border-radius: 4px; /* Sudut track */
}

/* Animasi untuk setiap huruf */
.animated-text .letter {
  display: inline-block;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

/* Ketika kelas 'fall' ditambahkan, jalankan animasi 'fall' */
.animated-text .letter.fall {
  animation: fall 0.5s forwards;
}

/* Definisi keyframes untuk animasi 'fall' */
@keyframes fall {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}